services:
  db:
    build: .
    container_name: postgres_db
    restart: always
    environment:
      POSTGRES_PASSWORD: mypassword
    volumes:
      - postgres_data:/var/lib/postgresql/data
    ports:
      - "5432:5432"

volumes:
  postgres_data:
